window#waybar {
    border: none;
    border-radius: 0;
    font-family: "Fira Sans";
    font-size: 13px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: #93A1A1;
    background: #141C21;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #93A1A1;
}

#workspaces button.visible {
    color: #A9C03F;
}

#workspaces button.focused {
    box-shadow: inherit;
    border-top: 3px solid #A9C03F;
    border-bottom: 3px solid #A9C03F;
}

#workspaces button.urgent {
    background-color: #DE635E;
}

#workspaces button:hover {
    background-color: #1C252A;
    border-bottom: 3px solid #A9C03F;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#disk,
#clock,
#custom-idle_inhibitor,
#custom-powermenu {
    margin: 0px 0px 0px 10px;
    padding: 0px 5px;
    border-top: 3px solid rgba(217, 216, 216, 0.5);
}

#battery.warning {
    border-top: 3px solid #DEDA5E;
    color: #DEDA5E;
}

#battery.critical {
    border-top: 3px solid #DE635E;
    color: #DE635E;
}

#battery.charging {
    border-top: 3px solid #5BB462;
    color: #5BB462;
}

#disk.warning {
    border-top: 3px solid #DEDA5E;
    color: #DEDA5E;
}

#disk.critical {
    border-top: 3px solid #DE635E;
    color: #DE635E;
}

@keyframes blink {
    to {
        background-color: #A9C03F;
        color: #141C21;
    }
}
